#tit1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #564349;
    font-size: bold;
}
.dis1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: medium;
    color: #394241;
}
#container {
    width: 900px;
    height: 600px;
    background-color: #837af7;
    margin-left: auto;
    margin-right: auto;
}