.dis1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: #190f26;
}
#container {
    width: 1024px;
    height: 600px;
    background-color: #f2ccb6;
    margin-left: auto;
    margin-right: auto;
}