#tit1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #C96451;
    font-size: 25px;
}
.dis1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    color:#966C3B;
    font-weight: larger;
}
.dis2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: #4E3082;
    font-weight: larger;
}
.dis3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    color:#425220;
    font-weight: larger;
}
.dis4 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    color:#342614;
    font-weight: larger;
}
#container {
    width: 800px;
    height: 300px;
    background-color: #7DC4BE;
    margin-left: auto;
    margin-right: auto;
}