#tit1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#c83f81 ;
}
.dis1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #2A2A39;
}
#container {
    width: 1024px;
    height: 500px;
    background-color: #f1c4d9;
    margin-left: auto;
    margin-right: auto;
}