#tit1 {
    font-family: 'Times New Roman', Times, serif;
    color: #487B96;
    font-size: 52px; 
}
#tit2 {
    font-family: 'Times New Roman', Times, serif;
    color: #B9753C;
    font-size: 52px; 
}
#tit3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: medium;
    color: #388556;
}
.dis1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 39px;
    color: #4C3B69;
    font-weight: bold;
}
#container {
    width: 800px;
    height: 600px;
    background-color: #DBAFBC;
    margin-left: auto;
    margin-right: auto;
}