#tit1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#F26B6B;
    font-size: 28px;
}
#tit2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#1D85A6;
    font-size: 28px;
}
.dis1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color:#8C3041;
    font-weight: larger;
}
#container {
    width: 800px;
    height: 1000px;
    background-color:#F2E3D0;
    margin-left: auto;
    margin-right: auto;
}